{% extends 'base.html' %}

{% block pageheader %}
<h2>Everyone's votes tee hee</h2>
{% endblock pageheader %}

{% block content %}
<div class="container">
  <table class="table table-striped table-condensed table-bordered">
    <tr> 
      <th></th>
    {% for position in positions %} 
      <th>{{ position.title }}</th> 
    {% endfor %}
    </tr>
    {% for voter in votes_array %} 
      <tr> 
        <td>{{ voter.name }}</td> 
        {% for vote in voter.votes %}
        <td>{{ vote }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
