<!DOCTYPE html>
<html lang="en">
  <head><title>New House Elections 2013</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css"> 
  </head>
  <body>
    <div class="container">
    <div class="page-header">
    <h1><strong>New House Elections 2013</strong></h1>
    {% block pageheader %}
    {% endblock pageheader %}
    </div>
    </div>
    {% block content %}

    {% endblock content %}
    <br />
    <div class="container">
      <p>Copyright &copy; New House 2013</p>
      <p>Contributors: Qian Long(qlong), Bryan Rosario(brosario)</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    {% block script %}
    {% endblock script %}
  </body>

</html>
