{% extends 'base.html' %}

{% block pageheader %}
  <h2> Welcome, {{ user.first_name }} </h2>
  <p>Please refer <a href="/vote/info/" target="new">here</a> for information about positions and candidates. Make your choices below.</p>
{% endblock pageheader %}

{% block content %}

<div class="container">
{% if positions and polls_open %}
<form id="form" action="/vote/submit/" method="post" role="form" class="form-group form-horizontal">
{% csrf_token %}
    {% for position in positions %}
    <div class="form-group">
    <h3><span class="label label-info">Position: {{ position.title }}</span></h3>
      {% for candidate in position.candidate_set.all %}
        <!-- don't include writeins -->
        {% ifequal 0 candidate.writein %}
        <div class="radio">
          <label>
          <input type="radio" class="{{ position.id }} non-write-in" name="{{ position.title }}" id="choice{{ forloop.counter }}-{{ position.id }}" value="{{ candidate.name }}" />
          {{ candidate.name }}
          </label>
        </div>
        {% endifequal %}
      {% endfor %}
        <div class="radio">
          <label>
          <input type="radio" class="{{ position.id }} non-write-in abstain" name="{{ position.title }}" id="choice{{ forloop.counter }}-{{ position.id }}" value="Abstain" checked />
          Abstain
          </label>
        </div>
    </div> 
    <div class="form-group form-horizontal">
      <label>Write-in</label>
      <input type="text" id="input-{{ position.id }}" class="{{ position.id }} write-in" name="{{ position.title }}" class="form-control" placeholder="Candidate Name" />
    </div>
    {% endfor %}  
<h3><span class="label label-danger">Please check your choices carefully before voting. You cannot undo</span></h3>
<input id="vote_button" type="button" value="Vote" class="btn btn-default"/>
</form>




{% else %}
  <p> Polls are closed. No candidates info available</p>

{% endif %}
</div>
<br /><br /><br />
{% endblock content %}

{% block script %}
<script>
$(document).ready(function() {
  $(".non-write-in").click(function() {
    // clear write-in
    var position_id = this.id.split("-")[1];
    var input_id = "#input-" + position_id;
    $(input_id).val("");
  }); 

  $(".write-in").on('input', function() {
    console.log("changed");
    // uncheck non-write-ins radios if input is not empty
    var position_id = this.id.split("-")[1];
    var classname1 = position_id;
    var classname2 = "non-write-in";
    var intersect = "." + classname1 + "." + classname2;
    $(intersect).prop("checked", false);
    if ($.trim($(this).val()).length == 0) {
      // recheck abstain of input is empty
      $(intersect + ".abstain").prop("checked", true);
    }
  }); 
  
  // remove empty inputs before submitting form
  $("#vote_button").click(function() {
    $('input:text').each(function() {
      if ($(this).val().length == 0) {
        $(this).prop('disabled', true);
      }
    });
    $('#form').submit(); 
  });
});
</script>
{% endblock script %}
