{% extends 'base.html' %}

{% block pageheader %}
<h2>Position Descriptions and Candidate Platforms</h2>
{% endblock pageheader %}
{% block content %}


<div class="container">
{% if positions %}

{% for position in positions %}
<h3><span class="label label-info">{{ position.title }}</span></h3><h3><small>   {{ position.description }}</small></h3>
  <ul class="list-group">
  {% for candidate in position.candidate_set.all %}
  {% ifequal 0 candidate.writein %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3"> {{ candidate.name }}</div>
        <div class="col-md-9"> {{ candidate.platform }}</div>
      </div>
    </li>
  {% endifequal %}
  {% endfor %}
  </ul>
{% endfor %}

{% endif %}
</div>
{% endblock content %}
