{% extends 'base.html' %}

{% block pageheader %}
<h2>Results</h2>
{% endblock pageheader %}

{% block content %}

<div class="container">
{% if positions %}

{% for position in positions %}
<h3><span class="label label-info">{{ position.title }}</span></h3>

  <ul class="list-group">
  {% for candidate in position.candidate_set.all %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-4">{{ candidate.name }}</div> 
        <div class="col-md-4">{{ candidate.votes }} votes</div> 
        {% ifequal 1 candidate.writein %}

        <div class="col-md-4">Write-In</div> 
        {% endifequal %}
      </div>
    </li>
  {% endfor %}
  </ul>
{% endfor %}  

{% else %}
  <p> No candidates info available</p>

{% endif %}
</div>
{% endblock content %}
