{% extends 'base.html' %}

{% block pageheader %}
  <h2>Hello, {{ user.first_name }}!</h2> 
  <h3>Thanks for voting, you rock! :D </h3>

{% endblock pageheader %}


{% block content %}
<div class="container">

  <h3>These are your votes</h4>
  {% if user_votes and polls_open %}
    {% for vote in user_votes %}
    <div class="row">
      <h3><span class="label label-info">{{ vote.position.title }}</span>
      <small>{{ vote.candidate.name }}</small></h3>
    </div>
    {% endfor %}
  {% else %}
  <p>Polls are closed. No candidates info available.</p>
  {% endif %}
</div>
<br />
<br />
{% endblock content %}
